In [1]:
import pandas as pd

In [2]:
ruta_doc= '/home/ruby/previous_application_DFTC.csv'
ruta_doc2='/home/ruby/credit.csv'
ruta_doc3='/home/ruby/loan_data_2007_2014 (1).csv'

In [3]:
tabla= pd.read_csv(ruta_doc,sep=',',encoding='latin-1')
tabla2= pd.read_csv(ruta_doc2,sep=',',encoding='latin-1')
tabla3= pd.read_csv(ruta_doc3,sep=',',encoding='latin-1')

/home/ruby/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (19) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
tabla.head

<bound method NDFrame.head of          SK_ID_PREV  SK_ID_CURR NAME_CONTRACT_TYPE  AMT_ANNUITY  \
0           2030495      271877     Consumer loans     1730.430
1           2802425      108129         Cash loans    25188.615
2           2523466      122040         Cash loans    15060.735
3           2819243      176158         Cash loans    47041.335
4           1784265      202054         Cash loans    31924.395
...             ...         ...                ...          ...
1670209     2300464      352015     Consumer loans    14704.290
1670210     2357031      334635     Consumer loans     6622.020
1670211     2659632      249544     Consumer loans    11520.855
1670212     2785582      400317         Cash loans    18821.520
1670213     2418762      261212         Cash loans    16431.300

         AMT_APPLICATION  AMT_CREDIT  AMT_DOWN_PAYMENT  AMT_GOODS_PRICE  \
0                17145.0     17145.0               0.0          17145.0
1               607500.0    679671.0               NaN         607500.0
2               112500.0    136444.5               NaN         112500.0
3               450000.0    470790.0               NaN         450000.0
4               337500.0    404055.0               NaN         337500.0
...                  ...         ...               ...              ...
1670209         267295.5    311400.0               0.0         267295.5
1670210          87750.0     64291.5           29250.0          87750.0
1670211         105237.0    102523.5           10525.5         105237.0
1670212         180000.0    191880.0               NaN         180000.0
1670213         360000.0    360000.0               NaN         360000.0

        WEEKDAY_APPR_PROCESS_START  HOUR_APPR_PROCESS_START  ...  \
0                         SATURDAY                       15  ...
1                         THURSDAY                       11  ...
2                          TUESDAY                       11  ...
3                           MONDAY                        7  ...
4                         THURSDAY                        9  ...
...                            ...                      ...  ...
1670209                  WEDNESDAY                       12  ...
1670210                    TUESDAY                       15  ...
1670211                     MONDAY                       12  ...
1670212                  WEDNESDAY                        9  ...
1670213                     SUNDAY                       10  ...

         NAME_SELLER_INDUSTRY  CNT_PAYMENT  NAME_YIELD_GROUP  \
0                Connectivity         12.0            middle
1                         XNA         36.0        low_action
2                         XNA         12.0              high
3                         XNA         12.0            middle
4                         XNA         24.0              high
...                       ...          ...               ...
1670209             Furniture         30.0        low_normal
1670210             Furniture         12.0            middle
1670211  Consumer electronics         10.0        low_normal
1670212                   XNA         12.0        low_normal
1670213                   XNA         48.0            middle

                 PRODUCT_COMBINATION  DAYS_FIRST_DRAWING DAYS_FIRST_DUE  \
0           POS mobile with interest            365243.0          -42.0
1                   Cash X-Sell: low            365243.0         -134.0
2                  Cash X-Sell: high            365243.0         -271.0
3                Cash X-Sell: middle            365243.0         -482.0
4                  Cash Street: high                 NaN            NaN
...                              ...                 ...            ...
1670209   POS industry with interest            365243.0         -508.0
1670210   POS industry with interest            365243.0        -1604.0
1670211  POS household with interest            365243.0        -1457.0
1670212             Cash X-Sell: low            365243.0        -1155.0
1670213          Cash X-Sell: middle            365243.0        -1163.0

        DAYS_LAST_DUE_1ST_VERSION  DAYS_LAST_DUE DAYS_TERMINATION  \
0                           300.0          -42.0            -37.0
1                           916.0       365243.0         365243.0
2                            59.0       365243.0         365243.0
3                          -152.0         -182.0           -177.0
4                             NaN            NaN              NaN
...                           ...            ...              ...
1670209                     362.0         -358.0           -351.0
1670210                   -1274.0        -1304.0          -1297.0
1670211                   -1187.0        -1187.0          -1181.0
1670212                    -825.0         -825.0           -817.0
1670213                     247.0         -443.0           -423.0

        NFLAG_INSURED_ON_APPROVAL
0                             0.0
1                             1.0
2                             1.0
3                             1.0
4                             NaN
...                           ...
1670209                       0.0
1670210                       0.0
1670211                       0.0
1670212                       1.0
1670213                       0.0

[1670214 rows x 37 columns]>

In [12]:
tabla.info

<bound method DataFrame.info of          SK_ID_PREV  SK_ID_CURR NAME_CONTRACT_TYPE  AMT_ANNUITY  \
0           2030495      271877     Consumer loans     1730.430
1           2802425      108129         Cash loans    25188.615
2           2523466      122040         Cash loans    15060.735
3           2819243      176158         Cash loans    47041.335
4           1784265      202054         Cash loans    31924.395
...             ...         ...                ...          ...
1670209     2300464      352015     Consumer loans    14704.290
1670210     2357031      334635     Consumer loans     6622.020
1670211     2659632      249544     Consumer loans    11520.855
1670212     2785582      400317         Cash loans    18821.520
1670213     2418762      261212         Cash loans    16431.300

         AMT_APPLICATION  AMT_CREDIT  AMT_DOWN_PAYMENT  AMT_GOODS_PRICE  \
0                17145.0     17145.0               0.0          17145.0
1               607500.0    679671.0               NaN         607500.0
2               112500.0    136444.5               NaN         112500.0
3               450000.0    470790.0               NaN         450000.0
4               337500.0    404055.0               NaN         337500.0
...                  ...         ...               ...              ...
1670209         267295.5    311400.0               0.0         267295.5
1670210          87750.0     64291.5           29250.0          87750.0
1670211         105237.0    102523.5           10525.5         105237.0
1670212         180000.0    191880.0               NaN         180000.0
1670213         360000.0    360000.0               NaN         360000.0

        WEEKDAY_APPR_PROCESS_START  HOUR_APPR_PROCESS_START  ...  \
0                         SATURDAY                       15  ...
1                         THURSDAY                       11  ...
2                          TUESDAY                       11  ...
3                           MONDAY                        7  ...
4                         THURSDAY                        9  ...
...                            ...                      ...  ...
1670209                  WEDNESDAY                       12  ...
1670210                    TUESDAY                       15  ...
1670211                     MONDAY                       12  ...
1670212                  WEDNESDAY                        9  ...
1670213                     SUNDAY                       10  ...

         NAME_SELLER_INDUSTRY  CNT_PAYMENT  NAME_YIELD_GROUP  \
0                Connectivity         12.0            middle
1                         XNA         36.0        low_action
2                         XNA         12.0              high
3                         XNA         12.0            middle
4                         XNA         24.0              high
...                       ...          ...               ...
1670209             Furniture         30.0        low_normal
1670210             Furniture         12.0            middle
1670211  Consumer electronics         10.0        low_normal
1670212                   XNA         12.0        low_normal
1670213                   XNA         48.0            middle

                 PRODUCT_COMBINATION  DAYS_FIRST_DRAWING DAYS_FIRST_DUE  \
0           POS mobile with interest            365243.0          -42.0
1                   Cash X-Sell: low            365243.0         -134.0
2                  Cash X-Sell: high            365243.0         -271.0
3                Cash X-Sell: middle            365243.0         -482.0
4                  Cash Street: high                 NaN            NaN
...                              ...                 ...            ...
1670209   POS industry with interest            365243.0         -508.0
1670210   POS industry with interest            365243.0        -1604.0
1670211  POS household with interest            365243.0        -1457.0
1670212             Cash X-Sell: low            365243.0        -1155.0
1670213          Cash X-Sell: middle            365243.0        -1163.0

        DAYS_LAST_DUE_1ST_VERSION  DAYS_LAST_DUE DAYS_TERMINATION  \
0                           300.0          -42.0            -37.0
1                           916.0       365243.0         365243.0
2                            59.0       365243.0         365243.0
3                          -152.0         -182.0           -177.0
4                             NaN            NaN              NaN
...                           ...            ...              ...
1670209                     362.0         -358.0           -351.0
1670210                   -1274.0        -1304.0          -1297.0
1670211                   -1187.0        -1187.0          -1181.0
1670212                    -825.0         -825.0           -817.0
1670213                     247.0         -443.0           -423.0

        NFLAG_INSURED_ON_APPROVAL
0                             0.0
1                             1.0
2                             1.0
3                             1.0
4                             NaN
...                           ...
1670209                       0.0
1670210                       0.0
1670211                       0.0
1670212                       1.0
1670213                       0.0

[1670214 rows x 37 columns]>

In [13]:
tabla.describe

<bound method NDFrame.describe of          SK_ID_PREV  SK_ID_CURR NAME_CONTRACT_TYPE  AMT_ANNUITY  \
0           2030495      271877     Consumer loans     1730.430
1           2802425      108129         Cash loans    25188.615
2           2523466      122040         Cash loans    15060.735
3           2819243      176158         Cash loans    47041.335
4           1784265      202054         Cash loans    31924.395
...             ...         ...                ...          ...
1670209     2300464      352015     Consumer loans    14704.290
1670210     2357031      334635     Consumer loans     6622.020
1670211     2659632      249544     Consumer loans    11520.855
1670212     2785582      400317         Cash loans    18821.520
1670213     2418762      261212         Cash loans    16431.300

         AMT_APPLICATION  AMT_CREDIT  AMT_DOWN_PAYMENT  AMT_GOODS_PRICE  \
0                17145.0     17145.0               0.0          17145.0
1               607500.0    679671.0               NaN         607500.0
2               112500.0    136444.5               NaN         112500.0
3               450000.0    470790.0               NaN         450000.0
4               337500.0    404055.0               NaN         337500.0
...                  ...         ...               ...              ...
1670209         267295.5    311400.0               0.0         267295.5
1670210          87750.0     64291.5           29250.0          87750.0
1670211         105237.0    102523.5           10525.5         105237.0
1670212         180000.0    191880.0               NaN         180000.0
1670213         360000.0    360000.0               NaN         360000.0

        WEEKDAY_APPR_PROCESS_START  HOUR_APPR_PROCESS_START  ...  \
0                         SATURDAY                       15  ...
1                         THURSDAY                       11  ...
2                          TUESDAY                       11  ...
3                           MONDAY                        7  ...
4                         THURSDAY                        9  ...
...                            ...                      ...  ...
1670209                  WEDNESDAY                       12  ...
1670210                    TUESDAY                       15  ...
1670211                     MONDAY                       12  ...
1670212                  WEDNESDAY                        9  ...
1670213                     SUNDAY                       10  ...

         NAME_SELLER_INDUSTRY  CNT_PAYMENT  NAME_YIELD_GROUP  \
0                Connectivity         12.0            middle
1                         XNA         36.0        low_action
2                         XNA         12.0              high
3                         XNA         12.0            middle
4                         XNA         24.0              high
...                       ...          ...               ...
1670209             Furniture         30.0        low_normal
1670210             Furniture         12.0            middle
1670211  Consumer electronics         10.0        low_normal
1670212                   XNA         12.0        low_normal
1670213                   XNA         48.0            middle

                 PRODUCT_COMBINATION  DAYS_FIRST_DRAWING DAYS_FIRST_DUE  \
0           POS mobile with interest            365243.0          -42.0
1                   Cash X-Sell: low            365243.0         -134.0
2                  Cash X-Sell: high            365243.0         -271.0
3                Cash X-Sell: middle            365243.0         -482.0
4                  Cash Street: high                 NaN            NaN
...                              ...                 ...            ...
1670209   POS industry with interest            365243.0         -508.0
1670210   POS industry with interest            365243.0        -1604.0
1670211  POS household with interest            365243.0        -1457.0
1670212             Cash X-Sell: low            365243.0        -1155.0
1670213          Cash X-Sell: middle            365243.0        -1163.0

        DAYS_LAST_DUE_1ST_VERSION  DAYS_LAST_DUE DAYS_TERMINATION  \
0                           300.0          -42.0            -37.0
1                           916.0       365243.0         365243.0
2                            59.0       365243.0         365243.0
3                          -152.0         -182.0           -177.0
4                             NaN            NaN              NaN
...                           ...            ...              ...
1670209                     362.0         -358.0           -351.0
1670210                   -1274.0        -1304.0          -1297.0
1670211                   -1187.0        -1187.0          -1181.0
1670212                    -825.0         -825.0           -817.0
1670213                     247.0         -443.0           -423.0

        NFLAG_INSURED_ON_APPROVAL
0                             0.0
1                             1.0
2                             1.0
3                             1.0
4                             NaN
...                           ...
1670209                       0.0
1670210                       0.0
1670211                       0.0
1670212                       1.0
1670213                       0.0

[1670214 rows x 37 columns]>

In [14]:
tabla.columns

Index(['SK_ID_PREV', 'SK_ID_CURR', 'NAME_CONTRACT_TYPE', 'AMT_ANNUITY',
       'AMT_APPLICATION', 'AMT_CREDIT', 'AMT_DOWN_PAYMENT', 'AMT_GOODS_PRICE',
       'WEEKDAY_APPR_PROCESS_START', 'HOUR_APPR_PROCESS_START',
       'FLAG_LAST_APPL_PER_CONTRACT', 'NFLAG_LAST_APPL_IN_DAY',
       'RATE_DOWN_PAYMENT', 'RATE_INTEREST_PRIMARY',
       'RATE_INTEREST_PRIVILEGED', 'NAME_CASH_LOAN_PURPOSE',
       'NAME_CONTRACT_STATUS', 'DAYS_DECISION', 'NAME_PAYMENT_TYPE',
       'CODE_REJECT_REASON', 'NAME_TYPE_SUITE', 'NAME_CLIENT_TYPE',
       'NAME_GOODS_CATEGORY', 'NAME_PORTFOLIO', 'NAME_PRODUCT_TYPE',
       'CHANNEL_TYPE', 'SELLERPLACE_AREA', 'NAME_SELLER_INDUSTRY',
       'CNT_PAYMENT', 'NAME_YIELD_GROUP', 'PRODUCT_COMBINATION',
       'DAYS_FIRST_DRAWING', 'DAYS_FIRST_DUE', 'DAYS_LAST_DUE_1ST_VERSION',
       'DAYS_LAST_DUE', 'DAYS_TERMINATION', 'NFLAG_INSURED_ON_APPROVAL'],
      dtype='object')

In [5]:
#algunas de las variables que considero importantes son: AMT_APPLICATION, AMT_CREDIT y NFLAG_INSURED_ON_APPROVAL

In [6]:
tabla2.head

<bound method NDFrame.head of     checking_balance  months_loan_duration credit_history     purpose  amount  \
0             < 0 DM                     6       critical    radio/tv    1169
1         1 - 200 DM                    48         repaid    radio/tv    5951
2            unknown                    12       critical   education    2096
3             < 0 DM                    42         repaid   furniture    7882
4             < 0 DM                    24        delayed   car (new)    4870
..               ...                   ...            ...         ...     ...
995          unknown                    12         repaid   furniture    1736
996           < 0 DM                    30         repaid  car (used)    3857
997          unknown                    12         repaid    radio/tv     804
998           < 0 DM                    45         repaid    radio/tv    1845
999       1 - 200 DM                    45       critical  car (used)    4576

    savings_balance employment_length  installment_rate personal_status  \
0           unknown           > 7 yrs                 4     single male
1          < 100 DM         1 - 4 yrs                 2          female
2          < 100 DM         4 - 7 yrs                 2     single male
3          < 100 DM         4 - 7 yrs                 2     single male
4          < 100 DM         1 - 4 yrs                 3     single male
..              ...               ...               ...             ...
995        < 100 DM         4 - 7 yrs                 3          female
996        < 100 DM         1 - 4 yrs                 4   divorced male
997        < 100 DM           > 7 yrs                 4     single male
998        < 100 DM         1 - 4 yrs                 4     single male
999    101 - 500 DM        unemployed                 3     single male

    other_debtors  ...                  property age  installment_plan  \
0            none  ...               real estate  67              none
1            none  ...               real estate  22              none
2            none  ...               real estate  49              none
3       guarantor  ...  building society savings  45              none
4            none  ...              unknown/none  53              none
..            ...  ...                       ...  ..               ...
995          none  ...               real estate  31              none
996          none  ...  building society savings  40              none
997          none  ...                     other  38              none
998          none  ...              unknown/none  23              none
999          none  ...                     other  27              none

      housing existing_credits  default  dependents  telephone foreign_worker  \
0         own                2        1           1        yes            yes
1         own                1        2           1       none            yes
2         own                1        1           2       none            yes
3    for free                1        1           2       none            yes
4    for free                2        2           2       none            yes
..        ...              ...      ...         ...        ...            ...
995       own                1        1           1       none            yes
996       own                1        1           1        yes            yes
997       own                1        1           1       none            yes
998  for free                1        2           1        yes            yes
999       own                1        1           1       none            yes

                         job
0           skilled employee
1           skilled employee
2         unskilled resident
3           skilled employee
4           skilled employee
..                       ...
995       unskilled resident
996  mangement self-employed
997         skilled employee
998         skilled employee
999         skilled employee

[1000 rows x 21 columns]>

In [15]:
tabla2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   checking_balance      1000 non-null   object
 1   months_loan_duration  1000 non-null   int64
 2   credit_history        1000 non-null   object
 3   purpose               1000 non-null   object
 4   amount                1000 non-null   int64
 5   savings_balance       1000 non-null   object
 6   employment_length     1000 non-null   object
 7   installment_rate      1000 non-null   int64
 8   personal_status       1000 non-null   object
 9   other_debtors         1000 non-null   object
 10  residence_history     1000 non-null   int64
 11  property              1000 non-null   object
 12  age                   1000 non-null   int64
 13  installment_plan      1000 non-null   object
 14  housing               1000 non-null   object
 15  existing_credits      1000 non-null   int64
 16  default               1000 non-null   int64
 17  dependents            1000 non-null   int64
 18  telephone             1000 non-null   object
 19  foreign_worker        1000 non-null   object
 20  job                   1000 non-null   object
dtypes: int64(8), object(13)
memory usage: 164.2+ KB

In [16]:
tabla2.describe

<bound method NDFrame.describe of     checking_balance  months_loan_duration credit_history     purpose  amount  \
0             < 0 DM                     6       critical    radio/tv    1169
1         1 - 200 DM                    48         repaid    radio/tv    5951
2            unknown                    12       critical   education    2096
3             < 0 DM                    42         repaid   furniture    7882
4             < 0 DM                    24        delayed   car (new)    4870
..               ...                   ...            ...         ...     ...
995          unknown                    12         repaid   furniture    1736
996           < 0 DM                    30         repaid  car (used)    3857
997          unknown                    12         repaid    radio/tv     804
998           < 0 DM                    45         repaid    radio/tv    1845
999       1 - 200 DM                    45       critical  car (used)    4576

    savings_balance employment_length  installment_rate personal_status  \
0           unknown           > 7 yrs                 4     single male
1          < 100 DM         1 - 4 yrs                 2          female
2          < 100 DM         4 - 7 yrs                 2     single male
3          < 100 DM         4 - 7 yrs                 2     single male
4          < 100 DM         1 - 4 yrs                 3     single male
..              ...               ...               ...             ...
995        < 100 DM         4 - 7 yrs                 3          female
996        < 100 DM         1 - 4 yrs                 4   divorced male
997        < 100 DM           > 7 yrs                 4     single male
998        < 100 DM         1 - 4 yrs                 4     single male
999    101 - 500 DM        unemployed                 3     single male

    other_debtors  ...                  property age  installment_plan  \
0            none  ...               real estate  67              none
1            none  ...               real estate  22              none
2            none  ...               real estate  49              none
3       guarantor  ...  building society savings  45              none
4            none  ...              unknown/none  53              none
..            ...  ...                       ...  ..               ...
995          none  ...               real estate  31              none
996          none  ...  building society savings  40              none
997          none  ...                     other  38              none
998          none  ...              unknown/none  23              none
999          none  ...                     other  27              none

      housing existing_credits  default  dependents  telephone foreign_worker  \
0         own                2        1           1        yes            yes
1         own                1        2           1       none            yes
2         own                1        1           2       none            yes
3    for free                1        1           2       none            yes
4    for free                2        2           2       none            yes
..        ...              ...      ...         ...        ...            ...
995       own                1        1           1       none            yes
996       own                1        1           1        yes            yes
997       own                1        1           1       none            yes
998  for free                1        2           1        yes            yes
999       own                1        1           1       none            yes

                         job
0           skilled employee
1           skilled employee
2         unskilled resident
3           skilled employee
4           skilled employee
..                       ...
995       unskilled resident
996  mangement self-employed
997         skilled employee
998         skilled employee
999         skilled employee

[1000 rows x 21 columns]>

In [17]:
tabla2.columns

Index(['checking_balance', 'months_loan_duration', 'credit_history', 'purpose',
       'amount', 'savings_balance', 'employment_length', 'installment_rate',
       'personal_status', 'other_debtors', 'residence_history', 'property',
       'age', 'installment_plan', 'housing', 'existing_credits', 'default',
       'dependents', 'telephone', 'foreign_worker', 'job'],
      dtype='object')

In [7]:
#algunas de las variables que considero importantes son: months_loan_duration,credit_history, existing_credit y installment_rate

In [8]:
tabla3.head

<bound method NDFrame.head of              id  member_id  loan_amnt  funded_amnt  funded_amnt_inv  \
0       1077501    1296599       5000         5000           4975.0
1       1077430    1314167       2500         2500           2500.0
2       1077175    1313524       2400         2400           2400.0
3       1076863    1277178      10000        10000          10000.0
4       1075358    1311748       3000         3000           3000.0
...         ...        ...        ...          ...              ...
466280  8598660    1440975      18400        18400          18400.0
466281  9684700   11536848      22000        22000          22000.0
466282  9584776   11436914      20700        20700          20700.0
466283  9604874   11457002       2000         2000           2000.0
466284  9199665   11061576      10000        10000           9975.0

              term  int_rate  installment grade sub_grade  ... total_bal_il  \
0        36 months     10.65       162.87     B        B2  ...          NaN
1        60 months     15.27        59.83     C        C4  ...          NaN
2        36 months     15.96        84.33     C        C5  ...          NaN
3        36 months     13.49       339.31     C        C1  ...          NaN
4        60 months     12.69        67.79     B        B5  ...          NaN
...            ...       ...          ...   ...       ...  ...          ...
466280   60 months     14.47       432.64     C        C2  ...          NaN
466281   60 months     19.97       582.50     D        D5  ...          NaN
466282   60 months     16.99       514.34     D        D1  ...          NaN
466283   36 months      7.90        62.59     A        A4  ...          NaN
466284   36 months     19.20       367.58     D        D3  ...          NaN

       il_util open_rv_12m  open_rv_24m max_bal_bc all_util total_rev_hi_lim  \
0          NaN         NaN          NaN        NaN      NaN              NaN
1          NaN         NaN          NaN        NaN      NaN              NaN
2          NaN         NaN          NaN        NaN      NaN              NaN
3          NaN         NaN          NaN        NaN      NaN              NaN
4          NaN         NaN          NaN        NaN      NaN              NaN
...        ...         ...          ...        ...      ...              ...
466280     NaN         NaN          NaN        NaN      NaN          29900.0
466281     NaN         NaN          NaN        NaN      NaN          39400.0
466282     NaN         NaN          NaN        NaN      NaN          13100.0
466283     NaN         NaN          NaN        NaN      NaN          53100.0
466284     NaN         NaN          NaN        NaN      NaN          16000.0

       inq_fi total_cu_tl inq_last_12m
0         NaN         NaN          NaN
1         NaN         NaN          NaN
2         NaN         NaN          NaN
3         NaN         NaN          NaN
4         NaN         NaN          NaN
...       ...         ...          ...
466280    NaN         NaN          NaN
466281    NaN         NaN          NaN
466282    NaN         NaN          NaN
466283    NaN         NaN          NaN
466284    NaN         NaN          NaN

[466285 rows x 74 columns]>

In [ ]:
#algunas de las variables que considero importantes son: loan_amnt, grade y total_pymnt.

In [9]:
tabla3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 466285 entries, 0 to 466284
Data columns (total 74 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   id                           466285 non-null  int64
 1   member_id                    466285 non-null  int64
 2   loan_amnt                    466285 non-null  int64
 3   funded_amnt                  466285 non-null  int64
 4   funded_amnt_inv              466285 non-null  float64
 5   term                         466285 non-null  object
 6   int_rate                     466285 non-null  float64
 7   installment                  466285 non-null  float64
 8   grade                        466285 non-null  object
 9   sub_grade                    466285 non-null  object
 10  emp_title                    438697 non-null  object
 11  emp_length                   445277 non-null  object
 12  home_ownership               466285 non-null  object
 13  annual_inc                   466281 non-null  float64
 14  verification_status          466285 non-null  object
 15  issue_d                      466285 non-null  object
 16  loan_status                  466285 non-null  object
 17  pymnt_plan                   466285 non-null  object
 18  url                          466285 non-null  object
 19  desc                         125983 non-null  object
 20  purpose                      466285 non-null  object
 21  title                        466265 non-null  object
 22  zip_code                     466285 non-null  object
 23  addr_state                   466285 non-null  object
 24  dti                          466285 non-null  float64
 25  delinq_2yrs                  466256 non-null  float64
 26  earliest_cr_line             466256 non-null  object
 27  inq_last_6mths               466256 non-null  float64
 28  mths_since_last_delinq       215934 non-null  float64
 29  mths_since_last_record       62638 non-null   float64
 30  open_acc                     466256 non-null  float64
 31  pub_rec                      466256 non-null  float64
 32  revol_bal                    466285 non-null  int64
 33  revol_util                   465945 non-null  float64
 34  total_acc                    466256 non-null  float64
 35  initial_list_status          466285 non-null  object
 36  out_prncp                    466285 non-null  float64
 37  out_prncp_inv                466285 non-null  float64
 38  total_pymnt                  466285 non-null  float64
 39  total_pymnt_inv              466285 non-null  float64
 40  total_rec_prncp              466285 non-null  float64
 41  total_rec_int                466285 non-null  float64
 42  total_rec_late_fee           466285 non-null  float64
 43  recoveries                   466285 non-null  float64
 44  collection_recovery_fee      466285 non-null  float64
 45  last_pymnt_d                 465909 non-null  object
 46  last_pymnt_amnt              466285 non-null  float64
 47  next_pymnt_d                 239071 non-null  object
 48  last_credit_pull_d           466243 non-null  object
 49  collections_12_mths_ex_med   466140 non-null  float64
 50  mths_since_last_major_derog  98974 non-null   float64
 51  policy_code                  466285 non-null  int64
 52  application_type             466285 non-null  object
 53  annual_inc_joint             0 non-null       float64
 54  dti_joint                    0 non-null       float64
 55  verification_status_joint    0 non-null       float64
 56  acc_now_delinq               466256 non-null  float64
 57  tot_coll_amt                 396009 non-null  float64
 58  tot_cur_bal                  396009 non-null  float64
 59  open_acc_6m                  0 non-null       float64
 60  open_il_6m                   0 non-null       float64
 61  open_il_12m                  0 non-null       float64
 62  open_il_24m                  0 non-null       float64
 63  mths_since_rcnt_il           0 non-null       float64
 64  total_bal_il                 0 non-null       float64
 65  il_util                      0 non-null       float64
 66  open_rv_12m                  0 non-null       float64
 67  open_rv_24m                  0 non-null       float64
 68  max_bal_bc                   0 non-null       float64
 69  all_util                     0 non-null       float64
 70  total_rev_hi_lim             396009 non-null  float64
 71  inq_fi                       0 non-null       float64
 72  total_cu_tl                  0 non-null       float64
 73  inq_last_12m                 0 non-null       float64
dtypes: float64(46), int64(6), object(22)
memory usage: 263.3+ MB

In [10]:
tabla3.describe

<bound method NDFrame.describe of              id  member_id  loan_amnt  funded_amnt  funded_amnt_inv  \
0       1077501    1296599       5000         5000           4975.0
1       1077430    1314167       2500         2500           2500.0
2       1077175    1313524       2400         2400           2400.0
3       1076863    1277178      10000        10000          10000.0
4       1075358    1311748       3000         3000           3000.0
...         ...        ...        ...          ...              ...
466280  8598660    1440975      18400        18400          18400.0
466281  9684700   11536848      22000        22000          22000.0
466282  9584776   11436914      20700        20700          20700.0
466283  9604874   11457002       2000         2000           2000.0
466284  9199665   11061576      10000        10000           9975.0

              term  int_rate  installment grade sub_grade  ... total_bal_il  \
0        36 months     10.65       162.87     B        B2  ...          NaN
1        60 months     15.27        59.83     C        C4  ...          NaN
2        36 months     15.96        84.33     C        C5  ...          NaN
3        36 months     13.49       339.31     C        C1  ...          NaN
4        60 months     12.69        67.79     B        B5  ...          NaN
...            ...       ...          ...   ...       ...  ...          ...
466280   60 months     14.47       432.64     C        C2  ...          NaN
466281   60 months     19.97       582.50     D        D5  ...          NaN
466282   60 months     16.99       514.34     D        D1  ...          NaN
466283   36 months      7.90        62.59     A        A4  ...          NaN
466284   36 months     19.20       367.58     D        D3  ...          NaN

       il_util open_rv_12m  open_rv_24m max_bal_bc all_util total_rev_hi_lim  \
0          NaN         NaN          NaN        NaN      NaN              NaN
1          NaN         NaN          NaN        NaN      NaN              NaN
2          NaN         NaN          NaN        NaN      NaN              NaN
3          NaN         NaN          NaN        NaN      NaN              NaN
4          NaN         NaN          NaN        NaN      NaN              NaN
...        ...         ...          ...        ...      ...              ...
466280     NaN         NaN          NaN        NaN      NaN          29900.0
466281     NaN         NaN          NaN        NaN      NaN          39400.0
466282     NaN         NaN          NaN        NaN      NaN          13100.0
466283     NaN         NaN          NaN        NaN      NaN          53100.0
466284     NaN         NaN          NaN        NaN      NaN          16000.0

       inq_fi total_cu_tl inq_last_12m
0         NaN         NaN          NaN
1         NaN         NaN          NaN
2         NaN         NaN          NaN
3         NaN         NaN          NaN
4         NaN         NaN          NaN
...       ...         ...          ...
466280    NaN         NaN          NaN
466281    NaN         NaN          NaN
466282    NaN         NaN          NaN
466283    NaN         NaN          NaN
466284    NaN         NaN          NaN

[466285 rows x 74 columns]>

In [11]:
tabla3.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'issue_d', 'loan_status', 'pymnt_plan', 'url', 'desc', 'purpose',
       'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs',
       'earliest_cr_line', 'inq_last_6mths', 'mths_since_last_delinq',
       'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal',
       'revol_util', 'total_acc', 'initial_list_status', 'out_prncp',
       'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp',
       'total_rec_int', 'total_rec_late_fee', 'recoveries',
       'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt',
       'next_pymnt_d', 'last_credit_pull_d', 'collections_12_mths_ex_med',
       'mths_since_last_major_derog', 'policy_code', 'application_type',
       'annual_inc_joint', 'dti_joint', 'verification_status_joint',
       'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m',
       'open_il_6m', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il',
       'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc',
       'all_util', 'total_rev_hi_lim', 'inq_fi', 'total_cu_tl',
       'inq_last_12m'],
      dtype='object')